name: DEV.to Publisher
on:
  push:
    branches: [devto-sync]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 14

    - name: Publish articles on dev.to
      uses: sinedied/publish-devto@v2
      with:
        devto_key: ${{ secrets.DEVTO_TOKEN }}
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: 'posts/**/*.md'
        branch: devto-sync
        conventional_commits: true
